<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PostMapper">

    <insert id="write" parameterType="Post">
        insert into post ( title, content, uid, shows, datetime, status)
        values (#{title}, #{content}, #{uid}, #{shows}, now(), 0)
    </insert>

    <select id="show" parameterType="Long" resultType="Post">
        select * from post where id = #{id};
    </select>

    <select id="showAll" resultType="Post">
        select * from post;
    </select>

    <update id="update" parameterType="Post" >
        update post set title = #{title}, content = #{content}, status = true
            where id = #{id}
    </update>

    <update id="updateShows" parameterType="Long">
        update post set shows = shows+1 where id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from post where id = #{id}
    </delete>
</mapper>